.FormInput,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

Button {
  width: 100%;

  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-login {
  background-color: rgba(41, 58, 58, 0.6);
  border-radius: 10px;
  width: 80%;
  height: 100%;
  left: 10%;
  position: relative;
}

.content {
  min-height: 100vh;
}

.col {
  align-items: center;
  justify-content: center;
}
